body {
    background-image: url(images/marvelwall.jpg);
    width: 100%;
}

header{
    margin-top: -10px;
    padding: 30px;
    display: flex;
    justify-content: space-between;
}
header img{
    background-color: rgba(0, 0, 0, 0.5);
}
header img:hover{
    transform: scale(1.09);
    transition: all .5s;
    box-shadow: 2px  2px 20px yellow;
}


nav{
    background-color: black;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
nav a{
    color: white;
    text-decoration: none;
}
nav a:hover{
    color: yellow;
    transform: scale(1.5);
    transition: .5s;
}

#contenedor{
    display: flex;
    flex-wrap: wrap;
}
main{
    flex: 60%;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    margin-right: z;
}
aside{
    flex: 20%;;
    background-color: rgba(3, 4, 456,20.5);
    padding: 20px;
}

@media screen and (max-width: 900px) {
    header{
        flex-direction: row;
        flex-wrap: wrap;
    }
    header img{
        height: 100px;
        width: 140px;
        padding-bottom: 10px;
    }
    main{
       flex-direction: column;
       padding-bottom: 50px;
       align-items: flex-start;
    }
}
@media screen and (max-width: 500px) {
    nav{
        flex-direction: column;
        padding-bottom: 10px;
        margin-bottom: 20px;
    }
    nav a{
        padding-bottom: 5px;
    }
}