body {
    background-color: black;
    width: 100%;
} 

header{
    margin-top: -10px;
    padding: 30px;
    display: flex;
    justify-content: space-between;
}

nav{
    background-color: rgba(187, 8, 8, 0.897);
    padding: 20px;
    display: flex;
    justify-content: space-around;
}

nav a{
    color: yellow;
    text-decoration: none;
}
nav a:hover{
    color: white;
}
main{
    color: white;
    margin: 50px;
    background-image: url(../images/Daredevilfondo.png);
    background-position: top;
    background-size: 152px;
    margin-left: 10px;
    margin-right: 10px;
}
main button {
    justify-content: space-around;
    width: 290px;
}
button{
    margin: 50px;
    background-color: rgba(187, 8, 8, 0.897);  
    height: 50px;
    width: 300px;
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
button a{
    color: yellow;
    text-decoration: none;
}
#enlaces {
    margin-top: -50px;
    padding-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    color: white;
}
#enlaces img{
    padding-top: 70px;
    margin-bottom: 24px;
}
#enlaces img:hover {
    transform: scale(1.09);
    transition: all .5s;
}

footer{
    margin-top: 20px;
    background-color: rgba(0, 0, 0, 0.75);
    padding: 25px;
    color: white;
}
footer a{
    color: red;
}
@media screen and (max-width: 800px) {
    header{
        flex-direction: row;
        flex-wrap: wrap;
    }
    header img{
        height: 100px;
        width: 140px;
        padding-bottom: 10px;
    }
}
@media screen and (max-width: 500px) {
    header{
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    nav{
        flex-direction: column;
        padding-bottom: 10px;
        margin-bottom: 20px;
    }
    nav a{
        padding-bottom: 5px;
    }
}