
body {
    background-image: url(../images/lunawall.webp);
    width: 100%;
}

header{
    margin-top: -10px;
    padding: 30px;
    display: flex;
    justify-content: space-between;
}
header img:hover{
    transform: scale(1.25);
    transition: all .5s;
}

nav{
    background-color: black;
    padding: 20px;
    display: flex;
    justify-content: space-around;
}

nav a{
    color: white;
    text-decoration: none;
}
nav a:hover{
    color: yellow;
    transform: scale(1.5);
    transition: .5s;
}

main{
    margin-top: 10px;
    padding-top: 50px;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
main img{
    margin-bottom: 60px;
}
main img:hover{
    transform: scale(1.09);
    transition: all .5s;
    box-shadow: 2px  2px 40px yellow;
}
footer{
    margin-top: 20px;
    background-color: rgba(0, 0, 0, 0.75);
    padding: 25px;
    color: white;
}
footer a{
    color: red;
}
@media screen and (max-width: 800px) {
    header{
        flex-direction: row;
        flex-wrap: wrap;
    }
    header img{
        height: 100px;
        width: 140px;
        padding-bottom: 10px;
    }
}
@media screen and (max-width: 500px) {
    nav{
        flex-direction: column;
        padding-bottom: 10px;
        margin-bottom: 20px;
    }
    nav a{
        padding-bottom: 5px;
    }
}