@media screen and (max-width: 1300px) {
}
body {
    background-image: url(../images/lunawall.webp);
    
}

header{
    margin-top: -10px;
    padding: 30px;
    display: flex;
    justify-content: space-between;
}
nav{
    background-color: black;
    padding: 20px;
    display: flex;
    justify-content: space-around;
}

nav a{
    color: white;
    text-decoration: none;
}
nav a:hover{
    color: yellow;
}

main{
    margin-top: 10px;
    padding-top: 50px;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
main img{
    padding-top: 40px;
}
footer{
    margin-top: 20px;
    background-image: url(../images/footerback.jpg);
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    padding: 5%;
}