
body {
    background-image: url(../images/punisherwall.jpg);
    width: 100%;
}

header{
    margin-top: -10px;
    padding: 30px;
    display: flex;
    justify-content: space-between;
}
nav{
    background-color: black;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

nav a{
    color: white;
    text-decoration: none;
}
nav a:hover{
    color: yellow;
}
main{
    padding-top: 50px;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

main img{
    padding-top: 40px;
}
footer{
    margin-top: 20px;
    background-color: orangered;
    padding: 5%;
    width: 1500px;
}
@media screen and (max-width: 800px) {
    header{
        flex-direction: row;
        flex-wrap: wrap;
    }
    header img{
        height: 100px;
        width: 140px;
        padding-bottom: 10px;
    }
}
@media screen and (max-width: 500px) {
    nav{
        flex-direction: column;
        padding-bottom: 10px;
        margin-bottom: 20px;
    }
    nav a{
        padding-bottom: 5px;
    }
}