
body {
    background-color: rgb(56, 179, 236);
    width: 100%;
}

header{
    margin-top: -10px;
    padding: 30px;
    display: flex;
    justify-content: space-between;
}
header img:hover{
    transform: scale(1.25);
    transition: all .5s;
}

nav{
    background-color: black;
    padding: 20px;
    display: flex;
    justify-content: space-around;
}

nav a{
    color: white;
    text-decoration: none;
}
nav a:hover{
    color: blue;
}
#botones{
    display: flex;
    justify-content: space-around;
}
button{
    background-color: rgb(32, 122, 163);
    text-align: center;
    margin-top: 20px;
    display: flex;
    width: 350px;
    height: 40px;
}
button a{
    color: red;
    background-size: 10px;
    margin-top: 7px;
    text-decoration: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    width: 500px;
    font-size: 20px;
}
main{
    background-image: url(../images/vengadoresfondo.jpg);
    margin: 50px;
    background-position: top;
    background-size: 85px;
    margin-left: 10px;
    margin-right: 10px;
    color: white;
    margin: 50px;
}
main a{
    color: red;
}
main a:hover {
    color: white;
}
main img:hover{
    transform: scale(1.5);
    transition: .5s;
    box-shadow: 2px  2px 40px yellow;
}
main img{
    margin-bottom: 60px;
}
ul {
    list-style: circle;
    background-color: rgba(197, 179, 15,);
    background-size: 100px;
    width: 200px;
    margin:10px;
}
ul li{
    margin-top: 10px;
    color: white
    ;
}
ul li a{
    color: red;
}
#fase1 {
    padding-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    color: white;
}
#fase1 img{
    padding-top: 50px;
}

#fase2 {
    padding-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    color: white;
}
#fase2 img{
    padding-top: 50px;
}

footer{
    margin-top: 20px;
    background-color: rgba(0, 0, 0, 0.75);
    padding: 25px;
    color: white;
}
footer a{
    color: red;
}

@media screen and (max-width: 800px) {
    header{
        flex-direction: row;
        flex-wrap: wrap;
    }
    header img{
        height: 100px;
        width: 150px;
        padding-bottom: 10px;
    }
}
@media screen and (max-width: 500px) {
    nav{
        flex-direction: column;
        padding-bottom: 10px;
        margin-bottom: 20px;
    }
    nav a{
        padding-bottom: 5px;
    }
    #fase2{
        margin-top: 20px;
    }
}