@media screen and (max-width: 1300px) {
}
body {
    background-color: rgb(56, 179, 236);
}

header{
    margin-top: -10px;
    padding: 30px;
    display: flex;
    justify-content: space-between;
}
nav{
    background-color: black;
    padding: 20px;
    display: flex;
    justify-content: space-around;
}

nav a{
    color: white;
    text-decoration: none;
}
nav a:hover{
    color: yellow;
}
label{
    background-color: rgba( 0, 0, 0, 0.70);
    margin-top: 20px;
    display: flex;
    width: 290px;
    height: 20px;
}
label a{
    color: red;
    background-size: 10px;
}
main{
    background-image: url(../images/vengadoresfondo.jpg);
    margin: 50px;
    background-position: top;
    background-size: 85px;
    margin-left: 10px;
    margin-right: 10px;
    color: white;
    margin: 50px;
}
main a{
    color: red;
}
main a:hover {
    color: white;
}
ul {
    list-style: circle;
    background-color: rgba( 0, 0, 0, 0.7);
    background-size: 100px;
    width: 200px;
    margin:10px;
}
ul li{
    margin-top: 10px;
    color: white
    ;
}
ul li a{
    color: red;
}
#fase1 {
    padding-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    color: white;
}
#fase1 img{
    padding-top: 50px;
}

#fase2 {
    padding-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    color: white;
}
#fase2 img{
    padding-top: 50px;
}

footer{
    margin-top: 20px;
    background-color: orangered;
    padding: 5%;
}