
body {
    background-color: black;
}

header{
    margin-top: -10px;
    padding: 30px;
    display: flex;
    justify-content: space-between;
}
nav{
    background-color: yellow;
    padding: 20px;
    display: flex;
    justify-content: space-around;
}

nav a{
    color: black;
    text-decoration: none;
}
nav a:hover{
    color: red;
}

main{
    background-image: url(../images/batfondo.png);
    background-position: top;
    background-size: 85px;
    margin-top: 10px;
    background-color: yellow;
    padding-top: 50px;
    background-color: white;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom: 30px;
}
main img{
    padding-top: 50px;
}
main a{
    color: red;
    text-decoration: none;
}
footer{
    margin-top: 20px;
    background-color: rgb(209, 196, 16);
    padding: 25px;
    color: white;
}
footer a{
    color: red;
}
@media screen and (max-width: 800px) {
    header{
        flex-direction: row;
        flex-wrap: wrap;
    }
    header img{
        height: 100px;
        width: 140px;
        padding-bottom: 10px;
    }
}
@media screen and (max-width: 500px) {
    nav{
        flex-direction: column;
        padding-bottom: 10px;
        margin-bottom: 20px;
    }
    nav a{
        padding-bottom: 5px;
    }
}
